{% extends "base.html" %}
{% block content %}
<h1>{{ produit.nom }}</h1>
{% if produit.images %}
  <img src="{{ produit.images.url }}" alt="{{ produit.nom }}" class="img-fluid mb-3" style="max-width:300px;">
{% endif %}
<p>{{ produit.description }}</p>
<p><strong>Prix :</strong> {{ produit.prix }} €</p>
<p><strong>Fournisseur :</strong> {{ produit.fournisseur.nom }}</p>
<p><strong>Telephone :</strong> {{ produit.fournisseur.telephone }}</p>
<p><strong>Mail :</strong> {{ produit.fournisseur.email }}</p>
<p><strong>Adresse :</strong> {{ produit.fournisseur.adresse }}</p>
<a class="btn btn-success" href="{% url 'commandes:commander-produit' produit.slug %}">Commander</a>

{% if last_commande %}
  <a class="btn btn-primary" href="{% url 'commandes:livraison-update' last_commande.pk %}">Gérer la livraison de la commande #{{ last_commande.id }}</a>
{% endif %}

<a href="{% url 'commandes:index' %}" class="btn btn-secondary">Retour</a>
{% endblock %}